{% import "_includes/forms" as forms %}

<hr>

{{ forms.lightswitchField({
    label: "HTTP Strict Transport Security"|t,
    name: 'httpStrictTransportSecurity',
    on: settings.httpStrictTransportSecurity,
    errors: settings.getErrors('httpStrictTransportSecurity'),
    instructions: 'Enable <a href="https://infosec.mozilla.org/guidelines/web_security#http-strict-transport-security" target="_blank">HTTP Strict Transport Security</a>'|t,
}) }}

{{ forms.textField({
    label: "HTTP Strict Transport Security max-age"|t,
    name: 'httpStrictTransportSecurityMaxAge',
    value: settings.httpStrictTransportSecurityMaxAge,
    errors: settings.getErrors('httpStrictTransportSecurityMaxAge')
}) }}

<hr>

{{ forms.lightswitchField({
    label: "Content Security Policy"|t,
    name: 'contentSecurityPolicy',
    on: settings.contentSecurityPolicy,
    errors: settings.getErrors('contentSecurityPolicy'),
    instructions: 'Enable <a href="https://infosec.mozilla.org/guidelines/web_security#content-security-policy" target="_blank">Content Security Policy</a>'|t,
}) }}

{{ forms.textareaField({
    label: "Content Security Policy value"|t,
    name: 'contentSecurityPolicyValue',
    value: settings.contentSecurityPolicyValue,
    placeholder: "object-src 'none'; \nscript-src 'nonce-{{ nonce }}' 'unsafe-inline' 'unsafe-eval' 'strict-dynamic' https: http:; \nbase-uri 'none';",
    errors: settings.getErrors('contentSecurityPolicyValue'),
    instructions: "{{ baseUrl }} and {{ nonce }} are available as tokens. Use nonce like this: default-src: 'nonce-{{ nonce }}'"|t,
    rows: settings.getRows(),
}) }}

<hr>

{{ forms.selectField({
    label: "X-Frame-Options"|t,
    name: 'xFrameOptions',
    value: settings.xFrameOptions,
    options: {
        '0': 'disabled',
        'deny': 'deny',
        'sameorigin': 'sameorigin',
    },
    errors: settings.getErrors('xFrameOptions'),
    instructions: 'Enable <a href="https://infosec.mozilla.org/guidelines/web_security#x-frame-options" target="_blank">X-Frame-Options</a>'|t,
}) }}

<hr>

{{ forms.selectField({
    label: "X-XSS-Protection"|t,
    name: 'xXssProtection',
    value: settings.xXssProtection,
    options: {
        '0': '0',
        '1': '1',
        '1; mode=block': '1; mode=block',
    },
    errors: settings.getErrors('xXssProtection'),
    instructions: 'Enable <a href="https://infosec.mozilla.org/guidelines/web_security#x-xss-protection" target="_blank">X-XSS-Protection</a>'|t,
}) }}

<hr>

{{ forms.selectField({
    label: "X-Content-Type-Options"|t,
    name: 'xContentTypeOptions',
    value: settings.xContentTypeOptions,
    options: {
        '0': 'disabled',
        'nosniff': 'nosniff',
    },
    errors: settings.getErrors('xContentTypeOptions'),
    instructions: 'Enable <a href="https://infosec.mozilla.org/guidelines/web_security#x-content-type-options" target="_blank">X-Content-Type-Options</a>'|t,
}) }}

<hr>
